<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>BlackOcean - test</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
		<meta name="description" content="Framework BlackOcean v{{__BlackOceanVersion__}}"/>
		<!-- Favicon -->
			<link rel="shortcut icon" href="{{RES}}/favicon/favicon.ico" />
			<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{RES}}/favicon/favicon.ico">
			<link rel="apple-touch-icon" sizes="152x152" href="{{RES}}/favicon/favicon-152-precomposed.png">
			<link rel="apple-touch-icon" sizes="144x144" href="{{RES}}/favicon/favicon-144-precomposed.png">
			<link rel="apple-touch-icon" sizes="120x120" href="{{RES}}/favicon/favicon-120-precomposed.png">
			<link rel="apple-touch-icon" sizes="114x114" href="{{RES}}/favicon/favicon-114-precomposed.png">
			<link rel="apple-touch-icon" sizes="180x180" href="{{RES}}/favicon/favicon-180-precomposed.png">
			<link rel="apple-touch-icon" sizes="72x72" href="{{RES}}/favicon/favicon-72-precomposed.png">
			<link rel="apple-touch-icon" href="{{RES}}/favicon/favicon-57.png">
			<link rel="icon" href="{{RES}}/favicon/favicon-32.png" sizes="32x32">
			<meta name="msapplication-TileColor" content="#FFFFFF">
			<meta name="msapplication-TileImage" content="favicon-144.png">
			<meta name="theme-color" content="#ffffff">
			<link rel="icon" sizes="192x192" href="{{RES}}/favicon/favicon-192.png">
		<!---->
		<style>
			:root        {
				--_colorBack: 50 , 51 , 52 ; /*323334*/
				--_colorText: 255, 255, 255; /*FFFFFF*/
				--_colorHigh: 0  , 189, 255; /*00BDFF*/

				--colorBack: rgb(var(--_colorBack));
				--colorText: rgb(var(--_colorText));
				--colorHigh: rgb(var(--_colorHigh));

				--levelMenu : 10;
				--levelModal: 11;

				--fontSize: 16px;
			 }
			*            {
				/*Apariencia*/
				-webkit-tap-highlight-color: transparent;
				outline                    : none;
				user-select                : inherit;

				/*Fuente*/
				color          : inherit;
				font-family    : inherit;
				font-size      : inherit;
				font-weight    : inherit;
				text-decoration: none;

				/*Posicion*/
				left   : 0;
				margin : 0;
				padding: 0;
				top    : 0;
			 }
			*::selection {
				background: rgba(var(--_colorHigh),.3);
			 }
			body         {
				/*Apariencia*/
				background-color: var(--colorBack);
				user-select     : none;

				/*Fuente*/
				color      : var(--colorText);
				font-family: fonn, sans-serif;
				font-size  : var(--fontSize);
				font-weight: 300;

				/*Posicion*/
				height  : 100%;
				position: absolute;
				width   : 100%;
			 }
			.icon *      {
				/*Apariencia*/
				fill: inherit;
			 }
		</style>
	</head>
	<body>
		<c-main></c-main>
	</body>
</html>
<script src="{{APP}}/versions.js"></script>
<script src="{{APP}}/bcore.js"></script>
