.cola.caca.cola     {}
.cola  >  .caca    .cola     {}
.cola  >  #caca    #cola     {}
.cola    .caca    .cola     {}
.cola    .caca    .cola    :    hover     {}
.cola      {
	align-items     : center;
	border          : solid;
	flex-direction  : column;
	justify-content : center;
	background-color: ${2+2;};
	background-color: bj{2+2;};
 }